@import 'vendor/normalize.css';
@import 'variables';

* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 22px;
  font-weight: 300;
  color: #2b2b2b;
  line-height: 1.4;
}

@media (max-width: 570px) {
  body {
    font-size: 18px;
  }
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

a {
  text-decoration: none;
  color: $red;
}

.content-wrapper {
  width: 700px;
  max-width: 90%;
  margin: 60px auto;
}

.round { border-radius: 50%;}

.error {color:red}